body {
    background-color: lightgray;
    color: black;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

/* --- Password wrapper --- */
.password_wrapper {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.password_wrapper input {
    width: 100%;
    padding: 10px 1px 10px 10px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

#toggle_btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* --- Bars --- */
.bar_container {
    width: 80%;
    height: 8px;
    margin: 20px auto;
    display: flex;
}

.bar {
    flex: 1;
    margin: 3px;
    background-color: #e0e0e0;
    border: 1px solid #666;
    height: 8px;
}

/* --- Message Text FIXED --- */
#message_text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
